################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MLB_HitterProbabilities/v15/Server/sqlite3
/MLB_HitterProbabilities_Web/node_modules
/MLB_HitterProbabilities_Web/obj/Debug
/MLB_WebHitterProbabilitiesOLD
/packages
