################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MLB_HitterProbabilities/v15/Server/sqlite3
